    :root{
    --firstcolor: hsl(182, 53%, 74%);
    --buttoncolor: hsl(246, 16%, 12%);
    --buttoncoloralt: hsl(0, 0%, 28%);
    --cardcolor: hsla(246, 16%, 5%, .5);
    --title-color: hsl(0, 0%, 95%);
    --textcolor: hsl(0, 0%, 75%);
    --bodycolor: hsl(249, 19%, 14%);
    --containercolor: hsl(246, 16%, 12%);
    --bordercolor: hsl(0, 0%, 20%);
    --header-height: 3.5rem;
    --first-color: hsl(354, 78%, 60%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --card-color: hsl(0, 0%, 90%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(206, 4%, 97%);
    --container-color: #fff;
    --border-color: hsl(0, 0%, 94%);

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}


img{
    display: block;
    max-width: 100%;
}

body{
    background-color:  hsl(249, 19%, 14%);
}

.container{
    
    /*max-width: 450px;*/
    margin: 1rem auto;    
    background-color:hsl(249, 19%, 14%);
    display: grid;
    grid-template-rows: repeat (3, 1fr);
    gap: 2rem;
    padding: 1rem;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
}

.bg__img{
    background-color: var(--firstcolor);
    margin: 1rem;
    width: 260px;
    height: 430px;
    margin-right: -1rem; 
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    align-items: flex-end;
}

.principal__img{
    width: 270px;
    height: 270px;
}

.tittle{
    padding: 1rem;
    color: hsl(0, 0%, 95%);
}

.description{
    
    padding: 1rem;
    color: hsl(0, 0%, 75%);
}
.principal__price{
    font-weight: 600;
    font-size: 1.2rem;
    padding: 1rem;
    color: hsl(182, 53%, 74%);
}
.principal__button{
    border: none;
    padding: 1.5rem;
    padding-bottom: 1rem;
    color: hsl(0, 0%, 95%);
    background-color: hsl(246, 16%, 12%);
    margin-top: 2rem;
}
.second__button{
    border: none;
    margin-left: 1rem;
    padding: 1rem;
    color:  hsl(246, 16%, 12%);
    background-color: hsl(0, 2%, 66%);
    margin-top: 2rem;

}

.products{
    margin-bottom: 2rem;
padding-bottom: 4rem;

}
.product__box{
    margin: auto;
}

.product__list{
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 0.7rem;
    color: hsl(0, 0%, 75%);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1rem;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;

}

.product__content{
    display: grid;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.product_bg{
    width: 200px ;
    height: 170px ; 
    position: relative;
    margin: 0 auto;
    background-color:  hsla(246, 16%, 5%, .5);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    justify-content: flex-start;

}

.price{
    font-weight: 600;
    padding-top: 0.8rem;
    font-size: 1rem;
    color: hsl(0, 0%, 95%);
    padding: 0.25rem 1rem;
  
}

.info{
    padding-top: 0.8rem;
    font-size: 1rem;
    margin-top: 0;
    color: hsl(0, 0%, 95%);
    position: relative;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color:  hsl(246, 16%, 12%);
    
}
.info .units{
    font-weight: 400;
    font-size: 0.7rem;
}

.product__img{
    margin: auto;
    height: 150px;
    width: 150px;
}
.name{
font-weight: 600;
    font-size: 0.9rem; 
    padding: 0.25rem 1rem;
    padding-bottom: 1.5rem;
}
.add__product{
    border: none;
    outline: none;
    border-radius: none ;
    padding: 0.5rem;
    display: inline-flex;
    font-size: 1.25rem;
    position: absolute;
    right: 1rem;
    top: -1.25rem;
    background-color: hsl(0, 0%, 15%);
    color: hsl(206, 4%, 97%);
    box-shadow: 0 4px 12px hsl(206deg 4% 4% / 20%);
}

.footer{
    
    background-color:  hsla(246, 16%, 5%, .5);
    margin: auto;
    padding-top: 2rem;
}
.footer__box{
    
    padding: 2rem;
    display: grid;
    row-gap: 2rem;
    border-bottom: 1px solid hsl(0, 0%, 75%);
    padding-bottom: 3rem;
}

.title{
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: var(--h2-font-size)
}
.list{
    
    color: hsl(0, 0%, 75%);
    display: flex;
    flex-direction: column;
    gap: 0.5rem
    ;
}
.bx{
    position: relative;
    font-size: 1.3rem;  
    color: hsl(0, 0%, 75%);
    
}

.social__list{
    display: flex;
    color: hsl(206, 4%, 97%);
    gap:0.5rem;
}
.copyright{
    display: block;
    margin: 2.5rem 0 2rem 0;
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light); 
    padding: 1rem;
    
}
.nav__logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}
.navbar{
    width: 100%;
    margin: 1rem auto;
    max-width: 1200px;
}

.countproduct{
    position: absolute;
    font-size: 0.9rem;

}


.box{
    color: hsl(206, 4%, 97%);
    padding: 1rem;
    margin: 0 auto;
    top:0;
    width: 100%;
    position: fixed;
    background-color: hsl(246, 16%, 12%);
    height: 5rem;
    max-width: 1200px;
    display: flex;
    gap: 4rem; 
    align-items: center;
    
   
}
.nav__logo{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700 ;
    color: hsl(206, 4%, 97%);
}
.logo{
    padding: 0.5rem;
    background-color: hsl(182, 53%, 74%);
}

.menu{
    z-index: 250;
    cursor: pointer;
    display: flex;
}
.menu__options{
    font-size: 16px;
    font-weight: 600 ;
    color: hsl(206, 4%, 97%);
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.option{
    cursor: pointer;
}

.bx{
    cursor: pointer;
    color: hsl(206, 4%, 97%);
    font-size: 30px;
}
.btn__nodrop{
    cursor: no-drop;
    font-size: 1rem;
    border-radius: none;
}

.close{
    display: none;
}
.bx-grid-alt{
    display: none;
font-size: 1.5rem;
}

.shop{
    padding-right: 2rem; ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    margin-left: auto;
}

.cart{
    overflow-y: scroll; 
    max-height: 1000px;
    margin: auto;
    position: fixed;  
    z-index: 200;
    right: 0;
    top: 5rem;     
    width: 50%;
    background-color:hsl(246, 16%, 12%);
    transform: translateX(100%);
    transition: transform 1s;
    max-height: 100%;
    max-width: 100%;
    bottom: 0
    
}

.show__cart{
    transform: translateX(0%);
}

.cart__content{
   
    margin: auto;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.cart__img{
    width: 100px;
    height: 100px;
}
.cart__inventory{
    gap: 0.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1rem;
    color: #fff;
}

.cart__product{
    font-size: 0.6rem;
    color: white;
}
.cartShop__product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    color: white;
    font-size: 0.8rem;
    text-align: center;

}
.img{
    width: 150px;
    height: 150px;
}

.total{
    
    font-size: 0.8rem;
    text-align: center;
    color: white;
}
.buy{
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    background-color:rgb(65, 60, 60);
    color: white;
    margin-bottom: 5rem;
    
}
.buy:hover{
    background-color: hsl(183, 32%, 57%);
}

.cart__title{
    padding: 1rem;
    margin: auto;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
    

}
.add-item, .rest-item, .del-item {
    border-radius: 10px;
    background-color:rgb(65, 60, 60);
    padding: 0.5rem 0.8rem;
    border: none;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 5rem;
    margin: auto;
 
}

.bx-trash{
    font-size: 1.5rem;
   color: hsl(183, 32%, 57%);
}

 .del-item:hover{
    background-color: rgb(215, 59, 59);
}
.rest-item:hover{

    background-color: rgb(204, 144, 144);
}
.add-item:hover{
    background-color: rgb(34, 157, 34);

}
.options{

    padding: 1rem;
    padding-bottom: 4rem;
    margin: 0 auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;   
}




@media (max-width:650px){


    .menu{
        z-index: 150;
        top: 5rem;
        width: 100%;
        position: fixed;
        background-color: hsl(246, 16%, 12%);
        transform: translateX(100%);
        transition: transform 1s;
        min-height: 100vh;
        right: 0;   
    }
    
    .show__menu{
        transform: translateX(0);
    }

    .bx-grid-alt{
        display: block;

    }  
 

    .menu__options{
        text-transform: uppercase;
        font-size: 1.2rem;
        margin: 3rem auto;
        flex-direction: column;
       justify-content: flex-start;
        
    }
   
    .close{
        display: flex;
        justify-content: center ;
        align-items: center;
    }

}




@media (min-width: 600px){
    
    .main {
        margin: auto;
        max-width: 1200px;
    }
    .container{
        margin-right: 1rem;
        padding-top: 3rem;
        max-width: 1200px;
        display: flex;
        flex-direction: row-reverse;
     
        justify-content: center;
        align-items: center;  
    }
    .home{
        margin: auto;
    }
    .principal__img{
        
        height: 340px;
        width: 340px;
    }

    .principal__info{
        margin-top: 2rem;
        
        padding-top: 3rem;
         
     width: 60%;
    }

    .bg__img{
        
        margin-right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        
      
    }
    .tittle{
        margin:0;
    }
    .description{
        padding-top: 0;
        padding-bottom: 2rem;
    }


    .product__list{
        font-size: 0.82rem;
        grid-template-columns: repeat(4, 1fr);
        max-width: 750px;
    }

    .product__content{
        display: flex;
        justify-content: center;
        align-items:center;
        gap: 3.5rem;
    }

    .product_bg{
        height: 250px;
        width: 250px;
    }
    .product__img{
        height: 200px;
        width: 200px;
    }

 
    .footer__box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;

    }


    .bx-plus:hover{
       color: hsla(246, 16%, 5%, .5);
       transition: color 0.5s;
    }

    .add__product:hover{
        background-color: hsl(183, 32%, 57%);
        color:black;;
        padding: 0.7rem;
        transition: background-color 0.5s;
    }
    .principal__button:hover{
        color:black;
        background-color: hsl(183, 32%, 57%);
        transition: background-color 0.5s;
    }


}   
